*{
  font-family: sans-serif;
  font-size: 1em;
}
html, body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}

div.header{
  width: inherit;
  position: fixed;
  text-align: center;
  padding: 1em;
  display: block;
  background-color: #00796b;
  border-bottom: 0.5em solid #004c40;
}

div.header h1{
  color: #ffffff;
}

h1{
  font-size: 1.5em;
}

div.content{
  padding-top: 7.5em;
  background-color: #ffffff;
  margin: 0;
  width: 75%;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
}
