
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'roboto', sans-serif;
  font-size: 1em;
}

html, body{
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
}

.header{
  width: 100%;
  height: 7vh;
  text-align: center;
  padding: 0.3em;
  padding-left: 0.5em;
  display: block;
  background-color: #ffffff;
  border-bottom: 0.2em solid #004c8c;
  /*box-shadow: 0.1em 0.1em 0.025em 0.001em #000000;*/
  font-size: 2vh;
  position: absolute;
}

.header h1{
  color: #494949;
  text-align: left;
  padding-left: 4em;
}

/*All the content in the page below the header*/
div.content{
  padding: 0 !important;
  background-color: #ffffff;
  margin: 0;
  margin-top: 10vh;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
}

/*everything else*/

h1{
  font-size: 1.5em;
}

button.noughtsAndCrossesSquare{
  width: 13vh;
  height: 13vh;
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  border: solid #000000;
  position: relative;
}

.hangmanImage{
  width: 50vh;
  height: 50vh;
}

div.seperatorLine{
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  display: inline-block;
  width: 60vw;
  border-bottom: 0.1em solid #aebfbe;
}
.buttons{
  border: none;
  align-self: center;
  text-align: center;
  align-items: center;
  display: block;
  width: 100%;
}


.button{
  transition: box-shadow, background-color 0.2s;
  letter-spacing: 0;
  font-weight: lighter;
  border-radius: 2.5px;
  font-size: 0.9em;
  text-decoration: none;
  border: none;
  color: #ffffff;
  display: inline-block;
  padding: 1em 1em 1em;
  margin: 0.5em 0.25em 0em;
  margin-bottom: 1em;
  background-color: #0277bd;
  box-shadow: 0px 0px 0.5px 0.1px #9e9e9e;
}

.button:hover{
  transition: box-shadow 0.3s, background-color 0.3s;
  background-color: #004c8c;
  box-shadow: 0px 2px 7px 0.1px #555555;
  cursor: pointer;
}

button:focus {
  outline: 0;
}


.button:active{
  transition: background-color 0.25s;
  background-color: #f5f5f5;
}

.textOutput{
  word-wrap: break-word;
}

.wordDisplay{
  font-size: 1.8em;
  font-family: monospace;
}

.letterButtons{
  cursor: default;
  border: none;
  display: inline-block;
  padding: 0;
  margin:0;
}

.letterButton{
  color: #ffffff;
  transition: box-shadow, background-color 0.3s;
  background-color: #0277bd;
  font-size: 1.3em;
  border: 0.1em solid #68bfc8;
  margin: 0;
  padding: 0.2;
  margin-top: 2vw;
  display: inline-block;
  box-shadow: 0px 1px 2px 1px #888888;
}

.letterButton:hover{
  background-color: #00665a;
  box-shadow: 0px 1px 8px 2px #9e9e9e;
  cursor: pointer;
}


.infoIcon{
  position: absolute;
  right: 34px;
  top: 1.2em;
  width: 2em;
  height: 2em;
}

.backIcon{
  position: absolute;
  left: 34px;
  top: 1.2em;
  width: 2em;
  height: 2em;
}

.closeIcon{
  position: absolute;
  display: none;
  right: 34px;
  top: 1.2em;
  width: 2em;
  height: 2em;
  z-index: 5;
}

.icon:hover{
  cursor: pointer;
}

.fotwImage{
  height: 50vh;
}

#topButton{
  margin-top: 15vh;
}

#githubImageCanvas{
  background-color: #e9e9e9;
}

#clearButton{
  display:none;
}

#aboutContent{
  opacity: 0;
  transition: opacity 0.3s;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-y: auto;
  padding-top: 5vh;
  text-align: center;
}
/*@media screen and (orientation:portrait){
  .mainPageButton{
    display: inline-block;
    float: left;
    width: 33vw;
    height: 25vw;
    padding: 0;
    /*       t     r       b       l    *\/
    margin: 1vw 0.16665vw 0vw 0.16665vw;
    border-radius: 0;
    font-size: 5vw;
  }
}

@media screen and (orientation:landscape){
  .mainPageButton{
    display: inline-block;
    float: left;
    width: 32.85vw;
    height: 10vw;
    padding: 0;
    /*       t     r       b       l    *\/
    margin: 1vw 0.165vw 0vw 0.165vw;
    border-radius: 0;
    font-size: 3em;
    vertical-align: middle;
  }
}*/
