*{
  font: helvetica;
  font-size: 1em;
}
html, body{
  font: helvetica;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}

div.header{
  width: inherit;
  position: fixed;
  text-align: center;
  padding: 1em;
  display: block;
  background-color: #00796b;
  border-bottom: 0.5em solid #004c40;
}

div.header h1{
  font: helvetica;
  color: #ffffff;
}

/*All the content in the page below the header*/
div.content{
  padding-top: 7.5em;
  background-color: #ffffff;
  margin: 0;
  width: 75%;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
}

/*everything else*/

h1{
  font-size: 1.5em;
}

button.noughtsAndCrossesSquare{
  width: 10vw;
  height: 10vw;
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  border: solid #000000;
  position: relative;
}

div.seperatorLine{
  margin-bottom: 0.75em;
  display: inline-block;
  width: 60%;
  border-bottom: 0.1em solid #aebfbe;
}
.buttons{
  border: none;
  align-self: center;
  text-align: center;
  align-items: center;
  display: block;
  width: 100%;
}


.button{
  transition: box-shadow 0.3s;
  border: none;
  color: #ffffff;
  display: inline-block;
  padding: 1em 1em 1em;
  margin: 1em 1em 0em;
  margin-bottom: 1em;
  background-color: #00796b;
  box-shadow: 0px 1px 10px 1px #888888;
}

.button:hover{
  transition: box-shadow 0.15s;
  box-shadow: 0px 3px 15px 6px #9e9e9e;
}

.textOutput{
  word-wrap: break-word;
}
