*{
  font-family: helvetica;
  font-size: 1em;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  font-size: 100%;
}

.header{
  width: 100%;
  position: fixed;
  text-align: center;
  padding: 1em;
  display: block;
  background-color: #00796b;
  border-bottom: 0.5em solid #004c40;
  box-shadow: 0.1em 0.1em 0.25em 0.001em #000000;
}

.header h1{
  color: #ffffff;
}

/*All the content in the page below the header*/
div.content{
  padding: 0;
  padding-top: 7.5em;
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
}

/*everything else*/

h1{
  font-size: 1.5em;
}

button.noughtsAndCrossesSquare{
  width: 13vh;
  height: 13vh;
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  border: solid #000000;
  position: relative;
}

.hangmanImage{
  width: 50vh;
  height: 50vh;
}

div.seperatorLine{
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  display: inline-block;
  width: 60%;
  border-bottom: 0.1em solid #aebfbe;
}
.buttons{
  border: none;
  align-self: center;
  text-align: center;
  align-items: center;
  display: block;
  width: 100%;
}


.button{
  transition: box-shadow, background-color 0.2s;
  letter-spacing: 0;
  font-weight: lighter;
  border-radius: 2.5px;
  font-size: 0.9em;
  text-decoration: none;
  border: none;
  color: #ffffff;
  display: inline-block;
  padding: 1em 1em 1em;
  margin: 0.5em 0.25em 0em;
  margin-bottom: 1em;
  background-color: #00796b;
  box-shadow: 0px 1px 5px 1px #9e9e9e;
}

.button:hover{
  transition: box-shadow, background-color 0.3s;
  background-color: #008071;
  box-shadow: 0px 2px 7px 1px #bdbdbd;
  cursor: pointer;
}

.sidebarButton{
  transition: box-shadow, background-color 0.2s;
  width: 245px;
  height: 60px;
  letter-spacing: 0;
  font-weight: lighter;
  border-radius: 2.5px;
  font-size: 1em;
  text-decoration: none;
  border: none;
  color: #ffffff;
  display: block;
  margin: 0.4em 0.1em 0em;
  background-color: #00796b;
  text-align: left;
  padding-left: 2em;
}

.sidebarButton:hover{
  transition: box-shadow, background-color 0.3s;
  background-color: #008071;
  box-shadow: 0px 1px 3px 0.01px #000000;
  cursor: pointer;
}

.sidebar{
  transition: width 0.5s;
  background-color: #00796b;
  margin-top: 0vh;
  padding-top: 15vh;
  width: 250px;
  height: 100%;
  position: fixed;
  display: block;
  box-shadow: 0em 0.1em 0.7em 0.02em #000000;
  border-top: 0.5em solid #004c40;
}


.button:active{
  transition: background-color 0.25s;
  background-color: #00e6cb;
}

.textOutput{
  word-wrap: break-word;
}

.wordDisplay{
  font-size: 1.8em;
  font-family: monospace;
}

.letterButtons{
  cursor: default;
  border: none;
  display: inline-block;
  padding: 0;
  margin:0;
}

.letterButton{
  color: #ffffff;
  transition: box-shadow, background-color 0.3s;
  background-color: #00796b;
  font-size: 1.3em;
  border: 0.1em solid #004c40;
  margin: 0;
  padding: 0.2;
  margin-top: 2vw;
  display: inline-block;
  box-shadow: 0px 1px 2px 1px #888888;
}

.letterButton:hover{
  background-color: #00665a;
  box-shadow: 0px 1px 8px 2px #9e9e9e;
  cursor: pointer;
}
