*{
  font-family: sans-serif;
  font-size: 1em; /* em is used to vary size for devices of different width.*/
}
html, body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}

div.header{
  width: inherit;
  position: fixed;
  text-align: center;
  padding: 1em;
  display: block;
  background-color: #00796b;
  border-bottom: 0.5em solid #004c40;
}

div.header h1{
  color: #ffffff;
}

/*All the content in the page below the header*/
div.content{
  padding-top: 7.5em;
  background-color: #ffffff;
  margin: 0;
  width: 75%;
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
}

/*everything else*/

h1{
  font-size: 1.5em;
}

div.seperatorLine{
  display: inline-block;
  width: 60%;
  border-bottom: 0.01em solid #aebfbe;
}

div.buttons{
  align-self: center;
  text-align: center;
  align-items: center;
  display: block;
  width: 100%;
}


div.button{
  color: #ffffff;
  display: inline-block;
  padding: 1em 1em 1em;
  margin: 1em 1em 0em;
  margin-bottom: 1em;
  width: 10%;
  background-color: #00796b;
}

div.button:hover{
  border-bottom: 0.5em solid #004c40;
  margin-bottom: 0.5em;
}
